html,
body {
  height: 100vh;
  background-color: #191919;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary:hover{
    background-color: #191919 !important;
}

.form-control:focus {
    border-color: #191919;
    box-shadow: none;
}

.toast {
  background-color: #FB1467;
  color: white;
  max-width: fit-content;
}